.factories {
    overflow: scroll;

    .timestamp {
        color: $theme-primary-light;
        font-style: italic;
        font-size: 14px;
    }

    &-view {        
        width: 55%;
    }

    &-create {
        padding: 0 10px;
        text-align: left;

        div {
            margin-bottom: 20px;
        }

        button {
            width: 60%;
        }
        
        input {
            width: 55%;
            display: block;
            margin-bottom: 15px;
        }
    }

    &-update {
        h2 {
            margin-bottom: 5px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .update-name {
            width: 75%;
        }

        .node-label {
            margin-left: 7px;
        }

        button {
            width: 60%;
            margin-bottom: 20px;
        }

        form {
            display: grid;
            grid-template-rows: 50px 50px auto auto auto auto;
            h3 {
                margin-bottom: 20px;
            }

            .form-group {
                margin-top: 10px;
            }
            input {
                margin-top: 5px;
            }
            .typing-input {
                width: 55%;
                display: block;
            }


            .node-checkbox {
                margin: 3px;
            }
            
            span {
                margin-top: 30px;
            }
            
        }

    }
}

.factory {
    margin: 20px 0 0 30px;
    display: grid;
    grid-template-columns: 10px auto;

    &-name {
        margin-left: 15px;
    }
    
    &-nodes {
        margin-left: 20px;
        
        li {
            &:first-child {
                padding-top: 15px;
                margin-top: 3px;
            }

            border-left: 2px solid $theme-primary-light;
            padding-left: 25px;
            &::before {
                position: relative;
                top: 10px;
                bottom: 0;
                left: -25px;
                display: block;
                width: 20px;
                border-bottom: 2px solid $theme-primary-light;
                content: "";
            }

            &:last-child {
                height: 12px;
            }
        }
    }
}