html {
    overflow: hidden;
}

html, body, #root, .main {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    padding: 15px;
    border: none;
    display: block;
    background-color: $theme-buttons;
    font-size: 14px;
    color: white;
    border-radius: 5px;

    &:hover {
        background-color: $theme-buttons-hover;
    }

    &:focus {
        outline: none;
    }
}

input {
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $theme-primary;
}