.main {
    display: grid;
    grid-template-columns: 250px auto;
}

.content {
    grid-column-start: 2;
    padding: 50px;
}

.factories {
    display: grid;
    grid-template-columns: auto 400px;

    &-create {
        display: grid;
        grid-template-rows: 100px auto;
    }
}