.nav {
    position: fixed;
    height: 100vh;
    width: 225px;
    padding: 50px 20px;
    background-color: $theme-primary;

    ul {
        li {
            padding-bottom: 10px;
            a {
                color: white;
            }
        }
    }
}