.notification {
    position: absolute;
    right: 0;
    width: calc(100% - 265px);
    height: 60px;
    z-index: 1000;
    color: white;
    line-height: 60px;
    text-align: center;
    overflow: hidden;
    transform: translateY(-70px);
    animation: slideDown 3.5s 0s ease forwards;
}

.error {
    background-color: $theme-error;
}

.success {
    background-color: $theme-success;
}

@keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-70px); }
    10%, 80% { -webkit-transform: translateY(0px); }
}